<style>
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            display: inline;
        }
        #button-container {
            display: flex;
            margin-top: 10px;
        }

        #sign-in {
            margin: 0 4px;
        }
    </style>
    
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/secret">Secret</a></li>
    </ul>
<h1>This is the secret page</h1>
<p>You found me!</p>
<img src="https://images.unsplash.com/photo-1469899324414-c72bfb4d4161?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="adult fawn pug covered with white fur cover">


        <section id="button-container"> 
            <a href="/register"><button>Sign Up</button></a>
            <a id="sign-in" href="/login"><button>Sign In</button></a>
        <form action="/logout" method="POST" style="float: left;">
            <button>Logout</button>
        </form>
    </section>   